<!DOCTYPE html>
<html>
<head>
    <title>The Last Empire</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Search Console Verification -->
    <meta name="google-site-verification" content="1sWyQiga3HglUlQuorlQIt2yFyoVpteiReVtdy157vo" />

    <!-- Google AdSense -->
    <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2764169348032920"
            crossorigin="anonymous"></script>

    <!-- Google Analytics (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEMV6CCEES"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-EEMV6CCEES');
    </script>
</head>
<body>

<header>
    <h1>Writers Web</h1>
</header>

<section class="hero">
    <h2>The Last Empire</h2>

    <p>
        A young warrior discovers a forgotten kingdom and must choose
        between power and honor.
    </p>

    <h3>$4.99</h3>

    <a href="#" class="btn">Buy Now</a>
</section>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>

