<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found | WRITERS WEB</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<section class="page-hero">

    <h1>404</h1>

    <div class="tagline">
        The page you're looking for cannot be found.
    </div>

    <br>

    <a href="/" class="btn">
        Return Home
    </a>

</section>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
