<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>WRITERS WEB - Error</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<nav class="navbar">

    <a href="/" class="brand-link">
        <span class="brand-name">WRITERS WEB</span>
    </a>

    <div class="navbar-menu">
        <a href="/">Home</a>
        <a href="/catalog">Store</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/blog">Blog</a>
        <a href="/services">Services</a>
    </div>

</nav>


<section class="page-hero">

    <h1>Something went wrong</h1>

    <p>
        We couldn't find the page you were looking for.
    </p>

    <br>

    <a href="/" class="btn">
        Return Home
    </a>

</section>


</body>

</html>